include ../../layout/default.pug
block main
    .body-container
        .login-container
            h2 Đăng Ký
            form(action='/users/register', method='POST')
                .input-group
                    label(for='username') Tên người dùng
                    input(type='username', name='username', required='' id="username")
                .input-group
                    label(for='email') Email
                    input(type='email', name='email', required='' id="email")
                .input-group
                    label(for='password') Mật khẩu
                    input(type='password', name='password', required='' id="password")

                button(type='submit' class="login-button") Đăng Ký